{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}vote{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/oreno.css">


<link rel="stylesheet" href="/assets/css/adminlte.min.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

{% endblock %}

{#ここから表示したい情報を記載します。#}

{% block page_content %}
<body class="sidebar-mini sidebar-collapse">
  <div class="box box-primary">
    <div class="box-header with-border">
      <label class="theme-title">
        <!-- title{name}のような変数を代入 -->
        {{theme.title}}
      </label>
      <p>{{theme.detail}}</p>
    </div>

    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" action="/theme/" id="form_id">
      <div class="box-body">
        <img src="{% if theme.imgPath  %}{{ theme.imgPath }}{% else %}http://y-ryu.xii.jp/wp/wp-content/uploads/2016/09/shouldnotdo.jpg{% endif %}" class="img-rounded col-md-6" alt="Cinque Terre">
          <div class="col-md-5 lead">
            投票に賭けるポイント
              <select class="select-point" name="point">
                <option value="100">100pt</option>
                <option value="200">200pt</option>
                <option value="300">300pt</option>
              </select>
            <div class="select-radio">
            <label>
            {% for row in items %}
              <input type="radio" name="item" value="{{row.itemId}}" id="{{row.itemId}}"><label for="{{row.itemId}}">{{row.name}}</label><br>
            {% endfor %}
            </label>
            </div>
          </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-success center-block">投票する！</button>
          <span class="pull-right text-muted">{{ record.votes }} / {{ redord.point }} / Time</span>
      </div>
      <input type="hidden" name="userId" value="{{session.user_info.id}}">
    </form>
  </div>
</body>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/adminlte.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
var number;
$(function(){
    $('input').click(function(){
        if($(this).val() == number) {
            $(this).prop('checked', false);
            number = 0;
        } else {
            number = $(this).val();
        }
    });
});

$('#form_id').submit(function() {


    if ($("input[name='item']:checked").val() === undefined) {
        alert("チェック入れてね")
        return false;
    }

});

</script>
{% endblock %}
