{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}新規会員登録{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" type="text/css" href="/assets/css/add-title.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>新規大会作成</h1>
    </div>
    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <form id="loginForm" method="POST" action="/add/">
                            {% if error %}
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label><span class="btn-xs round btn-danger">必須</span>大会名</label>
                                <input type="text" class="form-control" id="title" name="title" value="{{ title }}" required title="Please enter your tornament name" placeholder="最もうまいお茶の種類は？">
                            </div>

                            <div class="form-group">
                                <label><span class="btn-xs round btn-danger">必須</span>大会の詳細</label>
                                <input type="text" class="form-control" id="title" name="title" value="{{ detail }}" required title="Please enter your tornament detail" placeholder="日本のお茶の種類で最も美味しいお茶を決定したいと思います。">
                            </div>

                            <div class="form-group">
                                <label>候補1</label>
                                <input type="text" class="form-control" id="candidate1" name="candidate1" value="{{ detail }}"  placeholder="お〜いお茶">
                            </div>

                            <div class="form-group">
                                <label>候補2</label>
                                <input type="text" class="form-control" id="candidate2" name="candidate2" value="{{ detail }}"  placeholder="綾鷹">
                            </div>

                            <div class="form-group">
                                <label>候補3</label>
                                <input type="text" class="form-control" id="candidate3" name="candidate3" value="{{ detail }}"  placeholder="マテ茶">
                            </div>

                            <div class="form-group">
                                <label>画像</label>
                                <input type="file" id="InputFile">
                            </div>

                            <button type="submit" class="btn btn-info btn-block">新規登録</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}